.card {
  width: 32.7rem;
  border-radius: 2rem;
  overflow: hidden;
  margin: auto;
}
.hero-img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 90rem) {
  .card {
    width: 45rem;
  }
}
